In [ ]:
import pandas as pd

In [ ]:
### ETL Redmarch Enrollment database to database

In [ ]:
mohe_file = pd.read_excel("//10.99.64.144/Qlik/QSDOCS/PRD/DATA/PEMO_raw/Redmarch - IPTS Enrolment Database 2023 v17 CLIENT (RAW DATA).xlsm")

In [ ]:
mohe_file

In [ ]:
mohe_file = mohe_file.dropna(subset=['IPTS', 'Group'])

In [ ]:
mohe_file

In [ ]:
from r2r_pipelines import export_db

In [ ]:
engine = export_db.marcommdb_connection()
mohe_file.to_sql('mohe_staging', engine, schema='staging', if_exists='replace', index=False)

### Pricing Database

In [ ]:
import pandas as pd

In [ ]:
columns_to_keep = [
    "GCODE",
    "ICODE",
    "CCODE",
    "UCODE",
    "Group",
    "Institution",
    "Telephone",
    "Location",
    "State",
    "Region 1",
    "Region 2",
    "Level 1",
    "Level 2",
    "Bundling",
    "Vertical",
    "Specialization",
    "Course Name (Original)",
    "Course Name (Reformatted)",
    "Duration FT",
    "Duration PT",
    "Mode",
    "Partner 1",
    "Partner 2",
    "Status",
    "New Course",
    "# Intakes",
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sept",
    "Oct",
    "Nov",
    "Dec",
    "Total Fee",
    "Tuition",
    "Application",
    "Admission",
    "Registration",
    "Processing",
    "General",
    "Admin",
    "Service",
    "Resource",
    "ICT",
    "Lab",
    "Facilities",
    "Library",
    "Books",
    "Student ID",
    "Insurance",
    "Club/Activities",
    "MPU Admin Fee",
    "Internal exam/assessment",
    "Thesis/Dissertation",
    "External exam",
    "Final Year Project",
    "Convocation & Graduation",
    "Internship",
    "External Partners Fee",
    "Welfare",
    "Clinical/Hospital Affilication",
    "Uniform/Utensils/Material",
    "Others",
    "Library1",
    "Registration1",
    "Caution Fees",
    "Compilation Fees",
    "Security Deposit",
    "Other refundable fees",
    "Discount",
    "Discount Description",
    "Fees Source",
    "Weblink/Brochure date"
]

In [ ]:
# Read and process only 2017-2025 sheets
file_path = "C:/Users/112363/OneDrive - Taylor's Education Group/DWH_WIP/PEMO/Redmarch_IPTS Course Fee Database.xlsx" 
all_dfs = []

In [ ]:
import re

In [ ]:
with pd.ExcelFile(file_path) as xls:
    for sheet in xls.sheet_names:  # loops through all sheets
        # Check if sheet name is a year between 2017-2025
        if re.fullmatch(r'20(1[7-9]|2[0-5])', sheet):  # Matches 2017-2025
            # Read the sheet
            df = pd.read_excel(xls, sheet_name=sheet)
            
            # Add Year column
            df['Year'] = sheet
            
            # Keep only the desired columns (plus the new Year column)
            # First get the intersection of requested columns and actual columns
            available_columns = [col for col in columns_to_keep if col in df.columns]
            final_columns = available_columns + ['Year']
            
            # Filter the dataframe
            df = df[final_columns]
            
            all_dfs.append(df)

In [ ]:
# Combine all matching sheets
combined_df = pd.concat(all_dfs, ignore_index=True)

In [ ]:
from r2r_pipelines import export_db

In [ ]:
engine = export_db.marcommdb_connection()
combined_df.to_sql('mohe_pricing_staging', engine, schema='staging', if_exists='replace', index=False)

### Total Student Population TM1

In [1]:
import pandas as pd
import re
tm1_tsp = "C:/Users/112363/OneDrive - Taylor's Education Group/DWH_WIP/PEMO/TM1_Total_Student_Population.xlsx"

In [2]:
tsp = "Total_Student_Population"

In [3]:
tsp_df = pd.read_excel(tm1_tsp, sheet_name=tsp,header=None)

In [4]:
tsp_df.at[0, 0] = "university"
tsp_df.at[1, 0] = "type"
tsp_df.at[2, 0] = "code"
tsp_df.at[3, 0] = "month_year"

In [5]:
tsp_df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453
0,university,TUSB,TUSB,TUSB,TUSB,TUSB,TUSB,TUSB,TUSB,TUSB,...,TMSB,TMSB,TMSB,TMSB,TMSB,TMSB,TMSB,TMSB,TMSB,TMSB
1,type,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,...,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual
2,code,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),...,S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME),S10040 - RETURNING STUDENT - OTHERS (@ ME)
3,month_year,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,FY 2020
4,All Programs and Products,5696,5591,10989,10259,9940,9727,9850,10739,10686,...,1762,1707,846,1298,1201,1210,681,418,369,9492
5,ACCA QUALIFICATION (MODULAR),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# --- Step 1: Split the DataFrame ---
rows_to_melt = tsp_df.iloc[0:4]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep = tsp_df.iloc[5:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

In [9]:
headers_df = tsp_df.iloc[0:4].copy()
data_df = tsp_df.iloc[4:].copy()

In [10]:
headers_lookup = headers_df.T
headers_lookup.columns = headers_lookup.iloc[0]
headers_lookup = headers_lookup[1:].reset_index()
headers_lookup.rename(columns={'index': 'original_col_id'}, inplace=True)

In [11]:
data_df.rename(columns={0: 'Program'}, inplace=True)

In [12]:
id_vars = ['Program']
value_vars = [col for col in data_df.columns if col not in id_vars]

In [13]:
melted_df = pd.melt(data_df, id_vars=id_vars, value_vars=value_vars,
                        var_name='original_col_id', value_name='Population')

In [14]:
final_df = pd.merge(melted_df, headers_lookup, on='original_col_id', how='left')

In [15]:
filtered_df = final_df[final_df['Program'] != 'All Programs and Products'].copy()

In [16]:
filtered_df 
tsp_df_final = filtered_df.copy()
tsp_df_final.head(5)

,Program,original_col_id,Population,university,type,code,month_year
1,ACCA QUALIFICATION (MODULAR),1,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17
2,ACCA,1,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17
3,ACCA QUALIFICATION (ACCELERATE),1,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17
4,AMERICAN DEGREE TRANSFER PROGRAM (BUSINESS),1,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17
5,AMERICAN DEGREE TRANSFER PROGRAM (COMPUTER SCI...,1,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17

In [ ]:
tsp_df_final.drop('original_col_id', axis=1, inplace=True)

In [19]:
tsp_df_final = tsp_df_final.rename(columns={'Population': 'total_population'})

In [22]:
tsp_df_final = tsp_df_final.rename(columns={'Program': 'program'})

In [20]:
tsp_df_final['label']='Total Student Population'

In [23]:
tsp_df_final.head(5)

,program,total_population,university,type,code,month_year,label
1,ACCA QUALIFICATION (MODULAR),0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17,Total Student Population
2,ACCA,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17,Total Student Population
3,ACCA QUALIFICATION (ACCELERATE),0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17,Total Student Population
4,AMERICAN DEGREE TRANSFER PROGRAM (BUSINESS),0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17,Total Student Population
5,AMERICAN DEGREE TRANSFER PROGRAM (COMPUTER SCI...,0,TUSB,Actual,ACC_S31100 - TOTAL STUDENT POPULATION (@ ME),Jan-17,Total Student Population

In [24]:
from r2r_pipelines import export_db
engine = export_db.marcommdb_connection()
tsp_df_final.to_sql('tm1_student_population', engine, schema='staging', if_exists='replace', index=False)

608

### EFTS

In [25]:
import pandas as pd
import re
tm1_efts = "C:/Users/112363/OneDrive - Taylor's Education Group/DWH_WIP/PEMO/TM1_EFTS.xlsx"

In [26]:
efts = "EFTS"

In [27]:
efts_df = pd.read_excel(tm1_efts, sheet_name=efts,header=None)

In [29]:
efts_df.at[0, 0] = "university"
efts_df.at[1, 0] = "type"
efts_df.at[2, 0] = "code"
efts_df.at[3, 0] = "month_year"

In [30]:
# --- Step 1: Split the DataFrame ---
rows_to_melt = efts_df.iloc[0:4]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep = efts_df.iloc[5:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

In [31]:
headers_df = efts_df.iloc[0:4].copy()
data_df = efts_df.iloc[4:].copy()

In [32]:
headers_lookup = headers_df.T
headers_lookup.columns = headers_lookup.iloc[0]
headers_lookup = headers_lookup[1:].reset_index()
headers_lookup.rename(columns={'index': 'original_col_id'}, inplace=True)

In [33]:
data_df.rename(columns={0: 'Program'}, inplace=True)

In [36]:
id_vars = ['Program']
value_vars = [col for col in data_df.columns if col not in id_vars]

In [37]:
melted_df = pd.melt(data_df, id_vars=id_vars, value_vars=value_vars,
                        var_name='original_col_id', value_name='Amount')

In [38]:
final_df = pd.merge(melted_df, headers_lookup, on='original_col_id', how='left')

In [ ]:
filtered_df = final_df[final_df['Program'] != 'All Programs and Products'].copy()

In [40]:
filtered_df 
efts_df_final = filtered_df.copy()
efts_df_final.head(5)

,Program,original_col_id,Amount,university,type,code,month_year
1,ACCA QUALIFICATION (MODULAR),1,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17
2,ACCA,1,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17
3,ACCA QUALIFICATION (ACCELERATE),1,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17
4,AMERICAN DEGREE TRANSFER PROGRAM (BUSINESS),1,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17
5,AMERICAN DEGREE TRANSFER PROGRAM (COMPUTER SCI...,1,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17

In [41]:
efts_df_final.drop('original_col_id', axis=1, inplace=True)
efts_df_final = efts_df_final.rename(columns={'Amount': 'amount'})
efts_df_final = efts_df_final.rename(columns={'Program': 'program'})
efts_df_final['label']='EFTS'

In [42]:
efts_df_final.head(5)

,program,amount,university,type,code,month_year,label
1,ACCA QUALIFICATION (MODULAR),0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17,EFTS
2,ACCA,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17,EFTS
3,ACCA QUALIFICATION (ACCELERATE),0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17,EFTS
4,AMERICAN DEGREE TRANSFER PROGRAM (BUSINESS),0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17,EFTS
5,AMERICAN DEGREE TRANSFER PROGRAM (COMPUTER SCI...,0,TUSB,Actual,CAL_S10001 - NUMBER OF STUDENTS - EFTS,Feb-17,EFTS

In [43]:
from r2r_pipelines import export_db
engine = export_db.marcommdb_connection()
efts_df_final.to_sql('tm1_efts', engine, schema='staging', if_exists='replace', index=False)

744

### TM1 Revenue - PBT - GR - NR

In [47]:
import pandas as pd
import re
tm1_revenue = "C:/Users/112363/OneDrive - Taylor's Education Group/DWH_WIP/PEMO/TM1_Revenue.xlsx"

In [48]:
gross_revenue = "Gross_Revenue"
net_revenue = "Net_Revenue"
pbt = "PBT"

In [49]:
gr_df = pd.read_excel(tm1_revenue, sheet_name=gross_revenue,header=None)
nr_df = pd.read_excel(tm1_revenue, sheet_name=net_revenue,header=None)
pbt_df = pd.read_excel(tm1_revenue, sheet_name=pbt,header=None)

In [50]:
gr_df.at[0, 0] = "university"
gr_df.at[1, 0] = "type"
gr_df.at[2, 0] = "code"
gr_df.at[3, 0] = "month_year"


nr_df.at[0, 0] = "university"
nr_df.at[1, 0] = "type"
nr_df.at[2, 0] = "code"
nr_df.at[3, 0] = "month_year"


pbt_df.at[0, 0] = "university"
pbt_df.at[1, 0] = "type"
pbt_df.at[2, 0] = "code"
pbt_df.at[3, 0] = "month_year"

In [ ]:
# --- Splitting the Dataframes ---
# --- gr_df  ---
rows_to_melt_gr = gr_df.iloc[0:4]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep_gr = gr_df.iloc[5:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

# --- nr_df ---
rows_to_melt_nr = nr_df.iloc[0:4]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep_nr = nr_df.iloc[5:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

# --- pbt_df ---
rows_to_melt_pbt = pbt_df.iloc[0:4]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep_pbt = pbt_df.iloc[5:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

In [52]:
# --- Headers and data ---

# --- gr_df  ---
headers_df_gr = gr_df.iloc[0:4].copy()
data_df_gr = gr_df.iloc[4:].copy()

# --- nr_df  ---
headers_df_nr = nr_df.iloc[0:4].copy()
data_df_nr = nr_df.iloc[4:].copy()

# --- pbt_df  ---
headers_df_pbt = pbt_df.iloc[0:4].copy()
data_df_pbt = pbt_df.iloc[4:].copy()

In [53]:
#--- Transformation of headers ---

# --- gr_df  ---
headers_lookup_gr = headers_df_gr.T
headers_lookup_gr.columns = headers_lookup_gr.iloc[0]
headers_lookup_gr = headers_lookup_gr[1:].reset_index()
headers_lookup_gr.rename(columns={'index': 'original_col_id'}, inplace=True)

# --- nr_df  ---
headers_lookup_nr = headers_df_nr.T
headers_lookup_nr.columns = headers_lookup_nr.iloc[0]
headers_lookup_nr = headers_lookup_nr[1:].reset_index()
headers_lookup_nr.rename(columns={'index': 'original_col_id'}, inplace=True)

# --- pbt_df  ---
headers_lookup_pbt = headers_df_pbt.T
headers_lookup_pbt.columns = headers_lookup_pbt.iloc[0]
headers_lookup_pbt = headers_lookup_pbt[1:].reset_index()
headers_lookup_pbt.rename(columns={'index': 'original_col_id'}, inplace=True)

In [54]:
data_df_gr.rename(columns={0: 'Program'}, inplace=True)
data_df_nr.rename(columns={0: 'Program'}, inplace=True)
data_df_pbt.rename(columns={0: 'Program'}, inplace=True)

In [55]:
# --- gr_df  ---
id_vars_gr = ['Program']
value_vars_gr = [col for col in data_df_gr.columns if col not in id_vars_gr]

# --- nr_df  ---
id_vars_nr = ['Program']
value_vars_nr = [col for col in data_df_nr.columns if col not in id_vars_nr]

# --- pbt_df  ---
id_vars_pbt = ['Program']
value_vars_pbt = [col for col in data_df_pbt.columns if col not in id_vars_pbt]

In [ ]:
# --- gr_df  ---
melted_df_gr = pd.melt(data_df_gr, id_vars=id_vars_gr, value_vars=value_vars_gr,
                        var_name='original_col_id', value_name='Amount')

# --- nr_df  ---
melted_df_nr = pd.melt(data_df_nr, id_vars=id_vars_nr, value_vars=value_vars_nr,
                        var_name='original_col_id', value_name='Amount')

# --- pbt_df  ---
melted_df_pbt = pd.melt(data_df_pbt, id_vars=id_vars_pbt, value_vars=value_vars_pbt,
                        var_name='original_col_id', value_name='Amount')

In [60]:
final_df_gr = pd.merge(melted_df_gr, headers_lookup_gr, on='original_col_id', how='left')
final_df_nr = pd.merge(melted_df_nr, headers_lookup_nr, on='original_col_id', how='left')
final_df_pbt= pd.merge(melted_df_pbt, headers_lookup_pbt, on='original_col_id', how='left')

In [61]:
filtered_df_gr = final_df_gr[final_df_gr['Program'] != 'All Programs and Products'].copy()
gr_df_final = filtered_df_gr.copy()

filtered_df_nr = final_df_nr[final_df_nr['Program'] != 'All Programs and Products'].copy()
nr_df_final = filtered_df_nr.copy()

filtered_df_pbt = final_df_pbt[final_df_pbt['Program'] != 'All Programs and Products'].copy()
pbt_df_final = filtered_df_pbt.copy()

In [62]:
gr_df_final.drop('original_col_id', axis=1, inplace=True)
gr_df_final = gr_df_final.rename(columns={'Amount': 'amount'})
gr_df_final = gr_df_final.rename(columns={'Program': 'program'})
gr_df_final['label']='Gross Revenue'

nr_df_final.drop('original_col_id', axis=1, inplace=True)
nr_df_final = nr_df_final.rename(columns={'Amount': 'amount'})
nr_df_final = nr_df_final.rename(columns={'Program': 'program'})
nr_df_final['label']='Net Revenue'

pbt_df_final.drop('original_col_id', axis=1, inplace=True)
pbt_df_final = pbt_df_final.rename(columns={'Amount': 'amount'})
pbt_df_final = pbt_df_final.rename(columns={'Program': 'program'})
pbt_df_final['label']='PBT'

In [ ]:
gr_df_final.to_sql('tm1_gross_revenue', engine, schema='staging', if_exists='replace', index=False)

34

In [65]:
nr_df_final.to_sql('tm1_net_revenue', engine, schema='staging', if_exists='replace', index=False)

34

In [66]:
pbt_df_final.to_sql('tm1_pbt', engine, schema='staging', if_exists='replace', index=False)

382

### Revenue Exclusion TM1

In [1]:
import pandas as pd
import re
tm1_exclusion = "C:/Users/112363/OneDrive - Taylor's Education Group/DWH_WIP/PEMO/TM1_Exclusion.xlsx"

In [2]:
exclusion = "Exclusion"

In [4]:
exclusion_df = pd.read_excel(tm1_exclusion, sheet_name=exclusion,header=None)

In [6]:
exclusion_df.at[0, 0] = "university"
exclusion_df.at[1, 0] = "code"
exclusion_df.at[2, 0] = "month_year"

In [7]:
# --- exclusion_df  ---
rows_to_melt_ex = exclusion_df.iloc[0:3]  # Rows 0-3 (university, type, code, month_year)
rows_to_keep_ex = exclusion_df.iloc[4:]   # Rows 5+ (ACCA QUALIFICATION, etc.)

In [8]:
headers_df_ex = exclusion_df.iloc[0:3].copy()
data_df_ex = exclusion_df.iloc[3:].copy()

In [9]:
headers_lookup_ex = headers_df_ex.T
headers_lookup_ex.columns = headers_lookup_ex.iloc[0]
headers_lookup_ex = headers_lookup_ex[1:].reset_index()
headers_lookup_ex.rename(columns={'index': 'original_col_id'}, inplace=True)

In [10]:
data_df_ex.rename(columns={0: 'Program'}, inplace=True)

In [11]:
id_vars_ex = ['Program']
value_vars_ex = [col for col in data_df_ex.columns if col not in id_vars_ex]

In [12]:
melted_df_ex = pd.melt(data_df_ex, id_vars=id_vars_ex, value_vars=value_vars_ex,
                        var_name='original_col_id', value_name='Amount')

In [13]:
final_df_ex = pd.merge(melted_df_ex, headers_lookup_ex, on='original_col_id', how='left')

In [14]:
filtered_df_ex = final_df_ex[final_df_ex['Program'] != 'All Programs and Products'].copy()
ex_df_final = filtered_df_ex.copy()

In [15]:
ex_df_final.drop('original_col_id', axis=1, inplace=True)
ex_df_final = ex_df_final.rename(columns={'Amount': 'amount'})
ex_df_final = ex_df_final.rename(columns={'Program': 'program'})
ex_df_final['label']='Exclusion'

In [17]:
from r2r_pipelines import export_db
engine = export_db.marcommdb_connection()
ex_df_final.to_sql('tm1_exclusion', engine, schema='staging', if_exists='replace', index=False)

102